<section ng-controller="apisCtrlDocumentation">
    <section class="panel">

        <!-- show my api -->
        <div class="panel-padding">

            <!-- presentation -->
            <div style="text-align: left; width: 100%;
                        background-color: #f7f7f7;">
                <div> <!-- angular JS-->
                    <h1>{{rep.name}}
                        <small>
                            ({{rep.version}})
                            <image
                                    class="APIsBottomButton"
                                    ng-if="rep.visibility === 'public'"
                                    src="img/visibility.png"></image>

                            <image
                                    class="APIsBottomButton"
                                    ng-if="rep.visibility === 'private'"
                                    src="img/private.png"></image>
                        </small>
                    </h1>
                    <p>{{rep.description}}</p>
                </div>
            </div>

            <!-- form -->
            <form>
                <input style="width: 100%" class="input-text" type="text" value="{{rep.name}}">
                <input style="width: 100%" class="input-text" type="text" value="{{rep.version}}">
                <input style="width: 100%" class="input-text" type="text" value="{{rep.description}}"><br/>
                <select style="width: 100%" class="input-text">
                    <option>{{rep.views}}</option>
                </select>

                <!-- buttons -->
                <div style="text-align: left; float: left">
                    <button class="docAPIs">Save</button> <!-- save -->

                    <button class="docAPIs">Reset</button> <!-- reset -->

                    <button class="docAPIs">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M9 16h6v-6h4l-7-7-7 7h4z"></path>
                            <path d="M5 18h14v2H5z"></path>
                        </svg>
                    </button> <!-- export -->

                    <button class="docAPIs">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7z"></path>
                            <path d="M5 18v2h14v-2H5z"></path>
                        </svg>
                    </button> <!-- import -->
                </div>
                <div style="text-align: right">
                    <button class="docAPIs" style="text-align: right">Delete</button> <!-- delete -->
                </div>
            </form><!-- /form -->

        </div>


        <!-- back to APIS -->
        <a href="#/apis">
            <div style="width: 100%; background-color: #5e5e5e">
                    <image style="width: 35px;
                                  vertical-align: middle;
                                  font-size: 2px; padding: 5px"
                           src="img/back.png">
                        <i style="font-size: small; color: white">
                            Back to APIs
                        </i>
                    </image>
            </div>
        </a>

    </section>
</section>
