<form name="form" ng-submit="login()" role="form">

    <div class="form">

    <div style="text-align: center">
        <image width="70px"
               src="https://nightly.gravitee.io/4692fbacbef919061ecf328ca543e028.gif"></image>
        <h1>Gravitee.io Portal</h1>
    </div>

    <div ng-show="error"
         style="background-color: #cf0502;
                margin-bottom: 22px;
                border-radius: 50px;
                text-align: center">{{error}}
    </div>

    <div class="form-group">
        <div class="field-wrap">
            <label for="username">
                Username<span class="req">*</span>
            </label>
            <input type="text" name="username"
                   id="username" class="form-control"
                   ng-model="username"
                   required autocomplete="off"/>
        </div>
    </div>

    <div class="form-group">
        <div class="field-wrap">
            <label for="password">
                Password<span class="req">*</span>
            </label>
            <input type="password" name="password"
                   id="password" class="form-control"
                   ng-model="password"
                   required autocomplete="off"/>
        </div>
    </div>

    <p class="createAccount"><a href="#">Create an account</a></p>

    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading"
                class="button button-block"
                style="text-align: center;">
            Login
        </button>
     </div>

    </div>
</form>

<div style="background-color: white; padding: 25px">
    <h4>Warning :</h4>
    <p>
        If you watch this work with a browser
        it is possible that not everything is displayed properly
        so you have differents solutions: <br><br>
            1) Build and Emulate this work<br>
            2) Install
        <a href="https://chrome.google.com/webstore/detail/ripple-emulator-beta/geelfhphabnejjhdalkjhgipohgpdnoc">
            Ripple Emulator<small>(Beta)</small>
        </a> for google chrome
    </p>
</div>

<script src="js/index.js"></script>