<section ng-controller="apisCtrlGateway">
    <section class="panel">
        <!-- show my api -->
        <div class="panel-padding">

            <!-- presentation -->
            <div style="text-align: left; width: 100%;
                        background-color: #f7f7f7;">

                <h4>
                    {{rep.name}}
                    <small>
                        ({{rep.version}})
                        <image
                                class="APIsBottomButton"
                                ng-if="rep.visibility === 'public'"
                                src="img/visibility.png"></image>

                        <image
                                class="APIsBottomButton"
                                ng-if="rep.visibility === 'private'"
                                src="img/private.png"></image>
                    </small>
                </h4>
                <p>{{rep.description}}</p>

            </div>

            <hr width="80%">

            <!-- form -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <p style="color: darkgrey">Informations</p>
                            <form>
                                <input style="width: 100%" class="input-text" type="text" placeholder="Gateway context path" value="{{rep.proxy['context_path']}}">

                                <hr>
                                <p style="font-size: medium; font-weight: bold; color: rgb(96,125,139); background-color: rgba(216,216,216,0.4); margin-bottom: 5px">Endpoints</p>

                                <table class="striped">
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Tarhget</th>
                                        <th><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></svg></th>
                                        <th><i class="material-icons">delete</i></th>
                                    </tr>
                                    <tr ng-repeat="r in endpoints">
                                        <td>
                                            <p style="width: 15px">
                                                <input type="checkbox" class="filled-in" id="filled-in-box" />
                                                <label for="filled-in-box"></label>
                                            </p>
                                        </td>
                                        <td style="max-width: 60px; word-wrap: break-word">{{r.name}}</td>
                                        <td style="max-width: 60px; word-wrap: break-word">{{r.target}}</td>
                                        <td><i class="material-icons">settings</i></td>
                                        <td></td>
                                    </tr>
                                </table>

                                <hr>
                                <p style="font-size: medium; font-weight: bold; color: rgb(96,125,139); background-color: rgba(216,216,216,0.4);">Load balancing</p>

                                <label>Load balancing</label>
                                <select class="browser-default">
                                    <option value="current">{{rep.proxy['load_balancing'].type}}</option>
                                </select>

                                <hr>
                                <p style="background-color: rgba(216,216,216,0.4);">
                                    <input type="checkbox" class="filled-in" id="loadBalancingCheck"/>
                                    <label style="color: rgb(96,125,139); font-weight: bold; font-size: medium" for="loadBalancingCheck">
                                      Fail-over <br>
                                        <small style="font-weight: normal">When gateway receives a connect timeout from backend servers, it redirects traffic to the next server until "max attempts" or "timeout" have been reached.
                                        </small>
                                    </label>
                                </p>

                                <hr>

                                <p style="font-size: small; margin-top: 5px; font-weight: bold; border-bottom: dashed 1px black">Max attempts</p>
                                <small>Limits the number of possible tries for passing a request to the next server.
                                    <br>The 0 value turns off this limitation.</small>

                                <p style="font-size: small; margin-top: 5px; font-weight: bold; border-bottom: dashed 1px black">Timeout (ms)</p>
                                <small>Limits the time allowed to pass a request to the next server.
                                    <br>The 0 value turns off this limitation.</small>

                                <hr>
                                <p style="font-size: medium; font-weight: bold; color: rgb(96,125,139); background-color: rgba(216,216,216,0.4);">
                                    Multi-tenant <br>
                                    <small style="font-weight: normal">Use multi-tenant to route incoming HTTP requests to relative endpoints.</small>
                                </p>
                                <p style="margin-top: 5px">
                                    <input type="checkbox" class="filled-in" id="multiTenant" />
                                    <label for="multiTenant">Enable multi-tenant</label>
                                </p>

                                <hr>
                                <p style="font-size: medium; font-weight: bold; color: rgb(96,125,139); background-color: rgba(216,216,216,0.4);">
                                    Profiling <br>
                                    <small style="font-weight: normal">Use profiling with caution and only for development purpose since it can have impact on API performance.</small>
                                </p>
                                <p style="margin-top: 5px">
                                    <input type="checkbox" class="filled-in" id="profiling" />
                                    <label for="profiling">Dump HTTP requests. |
                                        Print HTTP client requests in gateway logs.</label>
                                </p>

                                <hr>

                                <!-- buttons -->
                                <div style="margin-top: 30px; text-align: center;">
                                    <a class="waves-effect waves-light btn" style="margin-bottom: 5px">Save</a> <!-- save -->

                                    <a class="waves-effect waves-light btn" style="margin-bottom: 5px">Reset</a> <!-- reset -->

                                    <a class="waves-effect waves-light btn" style="margin-bottom: 5px; background-color: #b81111">Delete</a>
                                </div>
                            </form><!-- /form -->

                            </form><!-- /form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>