<section ng-controller="apisCtrlHistory">
    <section class="panel panel-padding">

        <h1 style="margin-top: 16px; color: #006CAB; font-size: 32px; font-family: inherit;">
            History API
        </h1>

        <!-- presentation -->
        <div style="text-align: left; width: 100%;
                        background-color: #f7f7f7;">

            <h4>
                {{rep.name}}
                <small>
                    ({{rep.version}})
                    <image
                            class="APIsBottomButton"
                            ng-if="rep.visibility === 'public'"
                            src="img/visibility.png"></image>

                    <image
                            class="APIsBottomButton"
                            ng-if="rep.visibility === 'private'"
                            src="img/private.png"></image>
                </small>
            </h4>
            <p>{{rep.description}}</p>

        </div>

        <script>
            function showHistory() {
                document.getElementById('showHistory').setAttribute('style','display: inline-block');
            }
        </script>

        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-repeat="h in history" style="margin-bottom: 15px">
                <div class="collapsible-header" style="text-transform: uppercase">
                    {{h.type}} <br/>
                    {{h.created_at | date:'MM/dd/yyyy h:mm a' }} by {{h.properties["username"]}}
                </div>
                <div class="collapsible-body"><span>{{h.payload}}</span></div>
            </li>
        </ul>

        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>

    </section>
</section>