<section ng-controller="apisCtrlGeneral">
    <section class="panel">
        <!-- show my api -->
        <div class="panel-padding">

            <h1 style="margin-top: 16px; color: #006CAB; font-size: 32px; font-family: inherit;">
                Properties API
            </h1>

            <!-- presentation -->
            <div style="text-align: left; width: 100%;
                        background-color: #f7f7f7;">

                <h4  ng-bind="rep.name">
                    <small  ng-bind="rep.version">
                        <image
                                class="APIsBottomButton"
                                ng-if="rep.visibility === 'public'"
                                src="img/visibility.png"></image>

                        <image
                                class="APIsBottomButton"
                                ng-if="rep.visibility === 'private'"
                                src="img/private.png"></image>
                    </small>
                </h4>
                <p ng-bind="rep.description"></p>

            </div>

            <hr width="80%">

            <table class="striped">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Dynamic</th>
                </tr>
                <tr ng-repeat="p in rep.properties">
                    <td><input style="color: black" value="{{p.key}}" disabled></td>
                    <td><input style="color: black" value="{{p.value}}" disabled></td>
                    <td><input style="color: black" value="{{p.dynamic}}" disabled></td>
                </tr>
            </table>

        </div>

    </section>
</section>