<section ng-controller="apisCtrlSubscription">
    <section class="panel panel-padding">

        <h1 style="margin-top: 16px; color: #006CAB; font-size: 32px; font-family: inherit;">
            Subscriptions API
        </h1>

        <!-- show my api -->
        <div class="panel-padding">

            <!-- presentation -->
            <div style="text-align: left; width: 100%;
                        background-color: #f7f7f7;">

                <h4  ng-bind="rep.name">
                    <small  ng-bind="rep.version">
                        <image
                                class="APIsBottomButton"
                                ng-if="rep.visibility === 'public'"
                                src="img/visibility.png"></image>

                        <image
                                class="APIsBottomButton"
                                ng-if="rep.visibility === 'private'"
                                src="img/private.png"></image>
                    </small>
                </h4>
                <p  ng-bind="rep.description"></p>

            </div>

            <hr width="80%">

            <div class="group" style="text-align: center; margin-bottom: 15px">
                <form ng-submit="changeSub()">
                    <select style="display: inline-block; width: 60%" id="select_sub" class="browser-default">
                        <option value="accepted">Accepted</option>
                        <option value="pending">Pending</option>
                        <option value="rejected">Rejected</option>
                        <option value="closed">Closed</option>
                    </select>
                    <button style="display: inline-block" class="btn waves-effect waves-light"
                            type="submit"
                            name="action">
                        Submit
                    </button>
                </form>
            </div>

            <pre>
                <table class="striped" ng-repeat="sub in subscription">

                    <caption style="text-align: left; margin-left: -13em" ng-if="sub.status === statusShow">
                        <small style="color: black; font-weight:bold; font-size: 14px;" ng-bind="sub.application['name']"></small>
                        <small>by {{sub.application.owner["username"]}}</small>
                    </caption>

                    <tr  ng-if="sub.status === statusShow">
                        <th></th>
                        <th>Plan</th>
                        <th>Subscription Date</th>
                        <th>Process Date</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>

                    <tr  ng-if="sub.status === statusShow">
                        <td ng-click="ShowKey(sub.id)"><a class="btn btn-floating pulse"><i class="material-icons">vpn_key</i></a></td>
                        <td ng-bind="sub.plan['name']" ></td>
                        <td>{{sub.created_at | date:'MM/dd/yyyy h:mm a' }}</td>
                        <td>{{sub.processed_at | date:'MM/dd/yyyy h:mm a' }}</td>
                        <td>{{sub.starting_at | date:'MM/dd/yyyy h:mm a' }}</td>
                        <td>{{sub.ending_at | date:'MM/dd/yyyy h:mm a' }}</td>
                        <td ng-bind="sub.status" ></td>
                    </tr>

                </table>
            </pre>

        </div>

    </section>
</section>