<section ng-controller="apisCtrl">
    <section class="panel panel-padding">

        <!-- loader bar -->
        <div id="divLoader"
             style="position: fixed;
                    margin-top: -8px;
                    width: 30%; text-align: center">
            <div class="indeterminate"></div>
        </div>

        <!-- content -->
        <h1 style="margin-top: 16px; color: #006CAB; font-size: 32px; font-family: inherit;">
            {{portalTitle}}
            <small style="color: black; font-size: 40%">
                version {{versionApis["version"]}}
            </small>
        </h1>

        <form style="text-align: center; margin-bottom: 25px;">
            <input class="input-text" type="text" ng-model="searchAPIs" placeholder="Search APIs ..."/>
        </form>

        <div style="text-align: center;">
            <form style="display: inline;" ng-submit="allAPIs()">
                <input type="submit" style="margin: 2.5px" class="waves-effect waves-light btn" value="all apis">
            </form>

            <form style="display: inline;">
                <input type="submit" style="margin: 2.5px" class="waves-effect waves-light btn" value="100+ apis">
            </form>

            <form style="display: inline;" ng-submit="showcaseAPIS()">
                <input type="submit" style="margin: 2.5px" class="waves-effect waves-light btn" value="showcase apis">
            </form>
        </div>

        <!-- Separator -->
        <hr>

        <!-- add button -->
        <a style="position: fixed; bottom: 15px; right: 15px"
           class="btn-floating btn-small waves-effect waves-light blue">
            <i class="material-icons">add</i>
        </a>

        <!-- show apis -->
        <div style="text-align: center;">
            <div style="display: inline" ng-repeat="r in rep | filter:searchAPIs">
                <a href="#/generalAPIs/{{r.id}}">
                    <div id="showAPIs" style="width: 130px; display: inline-block">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text" style="height: 200px">
                                <img style="width: 50px" src='https://nightly.gravitee.io/0466e9e25e08e26f669bbb7fe0b5e784.png'>
                                <span class="card-title">
                                    {{r.name}}
                                    <small>({{r.version}})</small>
                                </span>
                                <small ng-if="r.state === 'started'" style="color:#429f46" class="ng-scope"> {{r.state}} </small>
                                <small ng-if="r.state !== 'started'" style="color:red" class="ng-scope"> {{r.state}} </small>

                            </div>
                            <div class="card-action">
                                <img class="APIsBottomButton" ng-if="r.visibility === 'public'"
                                     src="img/visibility.png">

                                <img class="APIsBottomButton" ng-if="r.visibility === 'private'"
                                     src="img/private.png">

                                <img class="APIsBottomButton" src="img/people.png">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- show showcase -->
        <div ng-if="showcaseShow === 'true'" style="text-align: center">
            <a href="#/generalAPIs/{{showcase.id}}">
                <div id="showcase" style="width: 125px; display: inline-block">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text" style="height: 200px">
                            <img style="width: 50px" src='https://nightly.gravitee.io/0466e9e25e08e26f669bbb7fe0b5e784.png'>
                            <span class="card-title">
                                {{showcase.name}}
                                <small>({{showcase.version}})</small>
                            </span>
                            <small ng-if="showcase.state === 'started'" style="color:#429f46" class="ng-scope"> {{showcase.state}} </small>
                            <small ng-if="showcase.state !== 'started'" style="color:red" class="ng-scope"> {{showcase.state}} </small>

                        </div>
                        <div class="card-action">
                            <img class="APIsBottomButton" ng-if="showcase.visibility === 'public'"
                                 src="img/visibility.png">

                            <img class="APIsBottomButton" ng-if="showcase.visibility === 'private'"
                                 src="img/private.png">

                            <img class="APIsBottomButton" src="img/people.png">
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </section>
</section>
