<section ng-controller="apisCtrl">
    <section class="panel panel-padding">

        <h1 style="margin-top: 16px; color: #006CAB; font-size: 32px; font-family: inherit;">
            {{portalTitle}}
            <small style="color: black; font-size: 40%">
                version {{versionApis["version"]}}
            </small>
        </h1>

        <form style="text-align: center; margin-bottom: 25px;">
            <input class="input-text" type="text" ng-model="searchAPIs" placeholder="Search APIs ..."/>
        </form>

        <div style="text-align: center;">
            <form style="display: inline;" ng-submit="allAPIs()">
                <input style="text-transform: uppercase;
                              border: none; color: #006CAB;
                              background-color: white;"
                       type="submit" value="All apis"/>
            </form> |

            <form style="display: inline;">
                <input style="text-transform: uppercase;
                              border: none; color: #006CAB;
                              background-color: white"
                       type="submit" value="100+ apis"/>
            </form> |

            <form style="display: inline;" ng-submit="showcaseAPIS()">
                <input style="text-transform: uppercase;
                              border: none; color: #006CAB;
                              background-color: white"
                       type="submit" value="showcase apis"/>
            </form>
        </div>

        <!-- Separator -->
        <hr>

        <!-- show apis -->
        <div style="text-align: center">
            <div id="showAPIs"
                 ng-repeat="r in rep | filter:searchAPIs "
                 style="display: inline;"> <!-- angular JS-->
                <a href="#/documentationAPIs/{{r.id}}">
                    <button id={{r.id}}
                            style="width: 90px;
                                   background-color: #f7f7f7;
                                   margin-left: 0px;
                                   margin-right: 0px;
                                    margin-bottom: 15px">
                        <image style="width:50px; padding-top: 8px;"
                               src='https://nightly.gravitee.io/0466e9e25e08e26f669bbb7fe0b5e784.png'></image>
                        <h3 style="font-size: 15px">
                            {{r.name}}<small>({{r.version}})</small>
                        </h3>
                        <small ng-if="r.state === 'started'" style="color:#429f46" class="ng-scope"> {{r.state}} </small>
                        <small ng-if="r.state !== 'started'" style="color:red" class="ng-scope"> {{r.state}} </small>
                        <div class="divAPIsBottomButton" style="margin-top: 12px;">

                            <image
                                    class="APIsBottomButton"
                                    ng-if="r.visibility === 'public'"
                                    src="img/visibility.png"></image>

                            <image
                                    class="APIsBottomButton"
                                    ng-if="r.visibility === 'private'"
                                    src="img/private.png"></image>

                            <image class="APIsBottomButton" src="img/people.png"></image>
                        </div>
                    </button>
                </a>
            </div>
        </div>

        <!-- show showcase -->
        <div ng-if="showcaseShow === 'true'" style="text-align: center">
            <div id="showcase"
                 style="display: inline;">
                <a href="#/documentationAPIs/{{showcase.id}}">
                    <button id={{showcase.id}}
                            style="width: 90px;
                                   background-color: #f7f7f7;
                                   margin-left: 0px;
                                   margin-right: 0px;
                                    margin-bottom: 15px">
                        <image style="width:50px; padding-top: 8px;"
                               src='https://nightly.gravitee.io/0466e9e25e08e26f669bbb7fe0b5e784.png'></image>
                        <h3 style="font-size: 15px">
                            {{showcase.name}}<small>({{showcase.version}})</small>
                        </h3>
                        <small ng-if="showcase.state === 'started'" style="color:#429f46" class="ng-scope"> {{showcase.state}} </small>
                        <small ng-if="showcase.state !== 'started'" style="color:red" class="ng-scope"> {{showcase.state}} </small>
                        <div class="divAPIsBottomButton" style="margin-top: 12px;">

                            <image
                                    class="APIsBottomButton"
                                    ng-if="showcase.visibility === 'public'"
                                    src="img/visibility.png"></image>

                            <image
                                    class="APIsBottomButton"
                                    ng-if="showcase.visibility === 'private'"
                                    src="img/private.png"></image>

                            <image class="APIsBottomButton" src="img/people.png"></image>
                        </div>
                    </button>
                </a>
            </div>
        </div>


    </section>
</section>
