<section>
    <section class="panel panel-padding">

        <h1 style="margin-top: 16px; color: #006CAB; font-size: 32px; font-family: inherit;">
            Instances
        </h1>

        <!-- if (gateway > 0) -->
        <div ng-if="instancesShow === 'true'">
            <form style="text-align: center; margin-top: 25px; margin-bottom: 25px;">
                <input class="input-text" type="text" ng-model="searchInstances" placeholder="Search Gateway instances ..."/>
            </form>

            <div style="text-align: center;">
                <div style="display: inline" ng-repeat="r in rep | filter:searchInstances">
                    <a href="#/instancesEnvironment/{{r.event}}">
                        <div id="showGateway" style="width: 130px; display: inline-block">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text"
                                     style="height: 200px;">

                                    <i class="material-icons">desktop_windows</i>


                                    <span class="card-title" style="padding-bottom: 5px" ng-bind="r.hostname">
                                        <small style="font-size: x-small" ng-bind="r.ip + ':' + r.port"></small>

                                        <small ng-if="r.state === 'started'" style="color:#429f46" class="ng-scope" ng-bind="r.state"></small>
                                        <small ng-if="r.state === 'stopped'" style="color:red" class="ng-scope" ng-bind="r.state"></small>
                                        <small ng-if="r.state === 'unknown'" style="color:#000000" class="ng-scope" ng-bind="r.state"></small>

                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <!-- if (gateway == 0) -->
        <div ng-if="instancesShow === 'false'" style="text-align: center; margin-top: 50px">
            <i class="large material-icons">developer_board</i>
            <h5 style="margin: 5px">There is no Gateway instance running</h5>
        </div>

    </section>
</section>